@import "tailwindcss";
@import '../../node_modules/react-phone-input-2/lib/style.css';

:root {
    --surface: #FEF7FF;
    --on-surface: #1D1B20;

    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.dark {
    --surface: #141218;
    --on-surface: #E6E0E9;
}

body {
    background-color: var(--surface);
    color: var(--on-surface);
    font-family: var(--font-sans), serif;
    transition: background-color 0.3s, color 0.2s;
}

code {
    font-family: var(--font-mono), serif;
}

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-light-primary: #65558F;
    --color-light-on-primary: #FFF;
    --color-light-primary-container: #EADDFF;
    --color-light-on-primary-container: #4F378A;
    --color-light-primary-fixed: #EADDFF;
    --color-light-on-primary-fixed: #21005D;
    --color-light-primary-fixed-dim: #D0DCFF;
    --color-light-on-primary-fixed-variant: #4F378B;
    --color-light-secondary: #625B71;
    --color-light-on-secondary: #FFF;
    --color-light-secondary-container: #E8DEF8;
    --color-light-on-secondary-container: #4A4459;
    --color-light-secondary-fixed: #E8DEF8;
    --color-light-on-secondary-fixed: #1D192B;
    --color-light-secondary-fixed-dim: #CCC2DC;
    --color-light-secondary-fixed-variant: #4A4458;
    --color-light-tertiary: #7D5260;
    --color-light-on-tertiary: #FFF;
    --color-light-tertiary-container: #FFD8E4;
    --color-light-on-tertiary-container: #633B48;
    --color-light-tertiary-fixed: #FFD8E4;
    --color-light-on-tertiary-fixed: #31111D;
    --color-light-tertiary-fixed-dim: #EFB8C8;
    --color-light-on-tertiary-fixed-variant: #633B48;
    --color-light-error: #B3261E;
    --color-light-on-error: #FFF;
    --color-light-error-container: #F9DEDC;
    --color-light-on-error-container: #852221;
    --color-light-outline: #79747E;
    --color-light-background: #FEF7FF;
    --color-light-on-background: #1D1B20;
    --color-light-surface: #FEF7FF;
    --color-light-on-surface: #1D1B20;
    --color-light-surface-variant: #E7E0EC;
    --color-light-on-surface-variant: #49454F;
    --color-light-inverse-surface: #322F35;
    --color-light-inverse-on-surface: #F5EFF7;
    --color-light-inverse-primary: #D0BCFF;
    --color-light-shadow: #000;
    --color-light-surface-tint: #6750A4;
    --color-light-outline-variant: #CAC4D0;
    --color-light-scrim: #000;
    --color-light-surface-container-highest: #E6E0E9;
    --color-light-surface-container-high: #ECE6F0;
    --color-light-surface-container: #F3EDF7;
    --color-light-surface-container-low: #F7F2FA;
    --color-light-surface-container-lowest: #FFF;
    --color-light-surface-bright: #FEF7FF;
    --color-light-surface-dim: #DED8E1;
    --color-dark-primary: #D0BCFE;
    --color-dark-on-primary: #381E72;
    --color-dark-primary-container: #4F378B;
    --color-dark-on-primary-container: #EADDFF;
    --color-dark-primary-fixed: #EADDFF;
    --color-dark-on-primary-fixed: #21005D;
    --color-dark-primary-fixed-dim: #D0BCFF;
    --color-dark-on-primary-fixed-variant: #4F378B;
    --color-dark-secondary: #CCC2DC;
    --color-dark-on-secondary: #332D41;
    --color-dark-secondary-container: #4A4458;
    --color-dark-on-secondary-container: #E8DEF8;
    --color-dark-secondary-fixed: #E8DEF8;
    --color-dark-on-secondary-fixed: #1D192B;
    --color-dark-secondary-fixed-dim: #CCC2DC;
    --color-dark-secondary-fixed-variant: #4A4458;
    --color-dark-tertiary: #EFB8C8;
    --color-dark-on-tertiary: #492532;
    --color-dark-tertiary-container: #633B48;
    --color-dark-on-tertiary-container: #633B48;
    --color-dark-tertiary-fixed: #FFD8E4;
    --color-dark-on-tertiary-fixed: #31111D;
    --color-dark-tertiary-fixed-dim: #EFB8C8;
    --color-dark-on-tertiary-fixed-variant: #633B48;
    --color-dark-error: #F2B8B5;
    --color-dark-on-error: #601410;
    --color-dark-error-container: #8C1D18;
    --color-dark-on-error-container: #F9DEDC;
    --color-dark-outline: #938F99;
    --color-dark-background: #141218;
    --color-dark-on-background: #E6E0E9;
    --color-dark-surface: #141218;
    --color-dark-on-surface: #E6E0E9;
    --color-dark-surface-variant: #49454F;
    --color-dark-on-surface-variant: #CAC4D0;
    --color-dark-inverse-surface: #E6E0E9;
    --color-dark-inverse-on-surface: #322F35;
    --color-dark-inverse-primary: #6750A4;
    --color-dark-shadow: #000000;
    --color-dark-surface-tint: #D0BCFF;
    --color-dark-outline-variant: #49454F;
    --color-dark-scrim: #000000;
    --color-dark-surface-container-highest: #36343B;
    --color-dark-surface-container-high: #2B2930;
    --color-dark-surface-container: #211F26;
    --color-dark-surface-container-low: #1D1B20;
    --color-dark-surface-container-lowest: #0F0D13;
    --color-dark-surface-bright: #3B383E;
    --color-dark-surface-dim: #141218;
    --shadow-light-1: 0 1px 2px 0 rgb(0 0 0 / 0.15), 0 1px 3px 1px rgb(0 0 0 / 0.15);
    --shadow-light-2: 0 1px 2px 0 rgb(0 0 0 / 0.3), 0 2px 6px 2px rgb(0 0 0 / 0.15);
    --shadow-light-3: 0 4px 8px 3px rgb(0 0 0 / 0.15), 0 1px 3px 0 rgb(0 0 0 / 0.3);
    --shadow-light-4: 0 6px 10px 4px rgb(0 0 0 / 0.15), 0 2px 3px 1px rgb(0 0 0 / 0.3);
    --shadow-light-5: 0 8px 12px 6px rgb(0 0 0 / 0.15), 0 4px 4px 0 rgb(0 0 0 / 0.3);
    --shadow-dark-1: 0 1px 3px 1px rgb(0 0 0 / 0.15), 0 1px 2px 0 rgb(0 0 0 / 0.3);
    --shadow-dark-2: 0 2px 6px 2px rgb(0 0 0 / 0.15), 0 1px 2px 0 rgb(0 0 0 / 0.3);
    --shadow-dark-3: 0 4px 8px 3px rgb(0 0 0 / 0.15), 0 1px 3px 0 rgb(0 0 0 / 0.3);
    --shadow-dark-4: 0 6px 10px 4px rgb(0 0 0 / 0.15), 0 2px 3px 0 rgb(0 0 0 / 0.3);
    --shadow-dark-5: 0 8px 12px 6px rgb(0 0 0 / 0.15), 0 4px 4px 0 rgb(0 0 0 / 0.3);
    --text-body-small: 12px;
    --text-body-small--line-height: 16px;
    --text-body-small--letter-spacing: 0.4;
    --text-body-small--font-weight: 400;
    --text-body-medium: 14px;
    --text-body-medium--line-height: 20px;
    --text-body-medium--letter-spacing: 0.25;
    --text-body-medium--font-weight: 400;
    --text-body-large: 16px;
    --text-body-large--line-height: 24px;
    --text-body-large--letter-spacing: 0.5;
    --text-body-large--font-weight: 400;
    --text-label-small: 11px;
    --text-label-small--line-height: 16px;
    --text-label-small--letter-spacing: 0.5;
    --text-label-small--font-weight: 500;
    --text-label-medium: 12px;
    --text-label-medium--line-height: 16px;
    --text-label-medium--letter-spacing: 0.5;
    --text-label-medium--font-weight: 500;
    --text-label-medium-proeminent: 12px;
    --text-label-medium-proeminent--line-height: 16px;
    --text-label-medium-proeminent--letter-spacing: 0.5;
    --text-label-medium-proeminent--font-weight: 600;
    --text-label-large: 14px;
    --text-label-large--line-height: 20px;
    --text-label-large--letter-spacing: 0.1;
    --text-label-large--font-weight: 500;
    --text-label-large-proeminent: 14px;
    --text-label-large-proeminent--line-height: 20px;
    --text-label-large-proeminent--letter-spacing: 0.1;
    --text-label-large-proeminent--font-weight: 600;
    --text-title-small: 14px;
    --text-title-small--line-height: 20px;
    --text-title-small--letter-spacing: 0.1;
    --text-title-small--font-weight: 500;
    --text-title-medium: 16px;
    --text-title-medium--line-height: 24px;
    --text-title-medium--letter-spacing: 0.15;
    --text-title-medium--font-weight: 500;
    --text-title-large: 22px;
    --text-title-large--line-height: 28px;
    --text-title-large--letter-spacing: 0;
    --text-title-large--font-weight: 400;
    --text-headline-small: 24px;
    --text-headline-small--line-height: 32px;
    --text-headline-small--letter-spacing: 0;
    --text-headline-small--font-weight: 400;
    --text-headline-medium: 28px;
    --text-headline-medium--line-height: 36px;
    --text-headline-medium--letter-spacing: 0;
    --text-headline-medium--font-weight: 400;
    --text-headline-large: 32px;
    --text-headline-large--line-height: 40px;
    --text-headline-large--letter-spacing: 0;
    --text-headline-large--font-weight: 400;
    --text-display-small: 36px;
    --text-display-small--line-height: 44px;
    --text-display-small--letter-spacing: 0;
    --text-display-small--font-weight: 400;
    --text-display-medium: 45px;
    --text-display-medium--line-height: 52px;
    --text-display-medium--letter-spacing: 0;
    --text-display-medium--font-weight: 400;
    --text-display-large: 57px;
    --text-display-large--line-height: 64px;
    --text-display-large--letter-spacing: -0.25;
    --text-display-large--font-weight: 400;
}
